/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*       Carouusel      */
/* -------------------- */

.gallery {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #000;	
}

.assunto {
	width: 100%;
	text-align: right;
}

.assunto h2 {
	font-weight: 600;
}

.assunto h2, .assunto h5 {
	color: #fff;
}

.dados {
	position: relative;
	margin-top: -416px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.imgs img, .imgs2 img {
	width: 100%;
	max-width: 100%;
}

.imgs {
	display: block;
}
.imgs2 {
	display: none;
}

.titulo h3, .titulo span {
	transform: rotate(90deg);
}

.titulo h3 {
	height: 100%;
	width: 200px;
	font-size: 1em;
	color: #fff;
}

.titulo {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 100px;
	margin-right: 90px;
	margin-bottom: 100px;
}

.preco {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: flex-start;
	line-height: 1.5em;
}

.preco h1 {
	font-size: 3.2em;
}

.preco h1, .preco h5 {
	color: #3EC6E0;
	font-weight: 700;	
}

.caixa1 {
	width: 260px;
	margin-right: 200px;	
}

.caixa2 {
	width: 85px;
	background-color: #084154;	
}

.controle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: #3EC6E0;
}

.posicao {
	padding-top: 18px;
	padding-left: 13px;
	height: 100px;
}

@media (max-width: 992px) {
	.imgs {
		display: none;
	}
	.imgs2 {
		width: 100%;
		display: block;
	}
	.imgs img, .imgs2 img {
		width: 100%;
		max-width: 100%;		
	}
	.gallery {		
		background-color: #000;
		z-index: 99;
	}
	.gallery .item {
		z-index: 99;
		width: 90%;
		height: auto;
		left: 0;
		bottom: 0;	
		display: flex;
		justify-content: center;	
		background-color: #000;
	}	
	.dados {
		width: 100%;
		position: relative;
		z-index: 9999;
		width: 100%;
		margin-top: 0;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.titulo h3 {
		font-size: 1.7em;
	}

	.titulo h3, .titulo span {
		transform: rotate(0deg);
	}
	.titulo {
		width: 100%;
		height: 100px;
		margin-top: 150px;
		padding: 0;
		display: flex;
		align-items: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}	
	.posicao {
		width: 45%;
		margin-top: 20px;
		text-align: center; 
	}
	.assunto {
		width: 260px;
		z-index: 9999;
		margin-right: 30px;
	}
	.caixa1 {
		width: 100%;
		z-index: 9999;
		position: relative;
		width: 100%;
		margin-top: -310px;
		margin-right: 0;
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.caixa2 {
		width: 100%;
		height: 80px;
		background-color: #084154;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;	
	}
}

@media (max-width: 480px) {
	.assunto h2 {
		font-size: 1.7em;
	}
	.assunto h5 {
		font-size: 1em;
	}
	.preco h1 {
		font-size: 2.7em;
	}
	.preco h5 {
		font-size: 1.2em;
	}
	.titulo h3 {
		font-size: 1.3em;
	}
	.titulo {
		margin-top: 160px;
	}
}

@media (max-width: 480px) {
	.assunto h2 {
		font-size: 1.3em;
	}
	.assunto h5 {
		font-size: .8em;
	}
	.preco h1 {
		font-size: 2em;
	}
	.preco h5 {
		font-size: .9em;
	}
	.titulo h3 {
		font-size: 1em;
	}
	.titulo {
		width: 100%;
		margin-top: 170px;
	}
	.posicao {
		width: 60%;
		padding-top: 25px;
	}
	.controle {
		width: 70%;
		padding-left: 60px;
	}
	.control-button {
		font-size: 1em;
	}
}

