/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*        Footer        */
/* -------------------- */

#footer {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	height: 80px;
	margin-top: 17%;	
}

#footer #logo {
	width: 30%;
	background-color: #084154; 
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5%;
}

#footer #descricao {
	width: 70%;
	background-color: #3EC6E0;
	display: flex;
	justify-content: flex-start;
	align-items: center; 
	padding-left: 5%;
}

#footer #descricao h4 {
	color: #fff;
}
