/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*         Form         */
/* -------------------- */

#contato {
	width: 100%;
	height: 100%;	
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}
#contato .formulario {
	width: 100%;
	height: 400px;
	margin-top: 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#form .text{
	width: 100%;
	height: 50px;
	padding: 20px;
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: 900;
	border: 1px solid #3EC6E0;
}

#form #textarea {
	width: 100%;
	height: 150px;
	padding: 20px;
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: 900;
	border: 1px solid #3EC6E0;
}

#form #enviar {
	width: 100%;
	height: 50px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 900;
	background-color: #3EC6E0;
	color: #fff;
	margin-top: 10px;
	border: 1px solid #3EC6E0;
}
