/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*    Carousel Items    */
/* -------------------- */

#lista1 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: none;
}

#div {
	width: 255px;
}

.item_descricao {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	display: none;
}

.item_descricao article {
	width: 155px;
	height: 155px;
}

#lista2  {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

#image img {
	border: 1px solid #3EC6E0;
}

#lista2 .item {
	width: 255px;
}

.item_img{
	width: 100%;
	max-width: 100%;
}

.item_img a img, .mySlides img {
	border: 2px solid #3EC6E0;
}

.valor {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
	line-height: 1.7em;
	margin-bottom: 20px;		
}

.valor h1 {
	font-size: 2.7em;
}

.valor h1, .valor h5 {
	font-weight: 700;
}

.btn {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 900;
}

.compra {
	width: 210px;
	padding: 10px;
	text-align: center;
	background-color: #3EC6E0;
	color: #fff;
}

@media (max-width: 992px) {
	#lista1, .item_descricao {
		display: block;
	}
	.item_descricao {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}
	.item_descricao article {
		width: 50%;
		height: 100%;
	}
	.item h3 {
		font-size: 1.3em;
	}
	.compra {
		width: 100%;
	}
	.btn {
		font-size: .9em;
	}
	#lista2 {
		display: none;
	}
	#div {
		width: 50%;
	}
}

@media (max-width: 576px) {
	#lista1, .item_descricao {
		display: block;
	}
	.item_descricao {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}
	.item_descricao article {
		width: 80%;
		height: 100%;
	}
	.item h3 {
		font-size: 1em;
	}
	.valor h1 {
		font-size: 2em;
	}
	.compra {
		width: 100%;
	}
	#lista2 {
		display: none;
	}
	#div {
		width: 80%;
	}
}

@media only screen and (min-width: 1080px) {
	#lista2 .item {
		width: 235px;
	}	
	.compra {
		width: 220px;
	}
}
