/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*       LightBox      */
/* -------------------- */

.janela {
	z-index: 999999999;
	top: 90px;
	right: 16%;
	position: absolute;
	width: 180px;
	height: 270px;
	background-color: #FFF;
	display: none;
}

.mensagem {
	position: absolute;	
	top: 25%;
	text-align: center;	
}

.mensagem a {	
	text-decoration: none;
}

.min {
	width: 180px;
	padding: 10px;
}

.min h5 {
	color: #000;
	font-weight: 700;
}

.btn_close {
	position: absolute;	
	right: 10px;
	top: 10px;
}
