/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*         Menu         */
/* -------------------- */

#img2 {
	margin-right: 20px;	
}

.close {
	cursor: pointer;
	z-index: 999999;
}

#nav, #section_menu #menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-start;
}

#navegacao {
	height: 90px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: #000;
}

#menu2 ul, #menu2 ul li a {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	color: #fff;
}

#org_menu {
	position: absolute;
	z-index: 9999;
	left: 11.5%;
	top: 30px;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-end;
	display: none;	
}

#org_menu img {
	margin-top: 40px;
	margin-bottom: -4px;
	margin-left: 70px
}

#nav {
	margin-left: 14%;
}

#navegacao, #nav {
	padding: 20px 0;
}

#section_menu {
	width: 500px;
}

#section_menu #menu {	
	width: 100%;
	padding: 20px;
	border: 2px solid #3EC6E0;
	box-shadow: 8px 8px 0px #3EC6E0;	
	background-color: #084154;
}

#section_menu #menu ul {
	width: 100%;	
	margin: 20px 10px;
	list-style: none;
}

#section_menu #menu ul li {
	padding: 10px;
	width: 100%;	
	font-weight: 900;
	font-size: 1em;	
	color: #fff;
	margin-right: 15px;
}

#section_menu #menu ul li:hover {
	background-color: #3EC6E0;
	width: 100%;	
}

#section_menu #menu ul li a {
	font-weight: 400;
	font-size: .8em;
	color: #fff;	
}

#section_menu #menu ul li, #section_menu #menu ul li a {
	color: #fff;
	text-decoration: none;
}

#menu2 ul li, #menu2 ul li a p {
	list-style: none;
	padding: 10px;	
}

#menu2 ul li a {
	text-decoration: none;
}

#menu2 ul li a #p {
	margin-left: 10px;	
	padding: 5px;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #3EC6E0;	
	font-size: .8em;
	font-weight: 900;
}

@media (max-width: 480px){
	#nav {
		width: 30%;
		margin-left: 6%;
	}
	#menu2 ul li a p {
		font-size: 0.9em;
	}
	#menu2 ul li a #p {
		font-size: 0.8em;
		display: block;
	}
	#menu2 ul li a p {
		display: none;
	}	
	#menu2 {
		margin-right: 5%;
	}
	#org_menu img {
		display: none;
	}
	#org_menu {
		top: 60px;
		left: 0;
		right: 0;
		z-index: 999999;
		width: 100%;
		height: 2800px;
		min-height: 20%;
		background-color: #084154;
		overflow-y: hidden; 
	}
	#section_menu #menu {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-left: -10px;
		padding: 0;
		border: 0;
		box-shadow: none;
		background-color: #084154;		
	}
	#section_menu #menu ul {
		position: relative;
		width: 90%;
		right: 0;
	}
	#section_menu #menu ul li a {
		font-size: 1.2em;
	}
	#section_menu {
		width: 100%;
		height: 100%;
	}
	#navegacao {
		background-color: #084154;
	}
}


@media (max-width: 992px){
	#menu2 ul li a p {
		font-size: 0.9em;
	}
	#menu2 ul li a #p {
		font-size: 0.8em;
		display: block;
	}
	#menu2 ul li a p {
		display: none;
	}	
	#menu2 {
		margin-right: 5%;
	}
	#org_menu img {
		display: none;
	}
	#org_menu {
		top: 60px;
		left: 0;
		right: 0;
		z-index: 999999;
		width: 100%;
		height: 2800px;
		min-height: 20%;
		background-color: #084154;
		overflow-y: hidden; 
	}
	#section_menu #menu {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-left: -10px;
		padding: 0;
		border: 0;
		box-shadow: none;
		background-color: #084154;		
	}
	#section_menu #menu ul {
		position: relative;
		width: 90%;
		right: 0;
	}
	#section_menu #menu ul li a {
		font-size: 1.2em;
	}
	#section_menu {
		width: 100%;
		height: 100%;
	}
	#navegacao {
		background-color: #084154;
	}
}
