/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*        Series        */
/* -------------------- */
#series {
	position: relative;
	top: 50px;	
	z-index: 999;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

#series aside img {
	width: 100%;
}

#series aside {
	width: 350px;
	padding: 1%;
	position: relative;
}

@media (max-width: 992px) {
	#series {
		position: static;
		margin-top: 10px;
	}
	#series aside {
		margin: 20px 10px 20px 10px;	
	}
	#botao1 {
		margin-left: -70px;
		font-size: 1.2em;
	}
	#botao2 {
		margin-right: -70px;
		font-size: 1.2em;
	}	
}

@media (max-width: 480px) {
	#series {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;		
	}
	#series aside {
		width: 350px;
		margin: 10px 0 0 0;	
	}
	#series aside img {
		width: 100%;
	}
	#botao1 {
		margin-left: -40px;
		font-size: 1.2em;
	}
	#botao2 {
		margin-right: -40px;
		font-size: 1.2em;
	}	
}

@media (max-width: 380px) {
	#series aside {
		width: 300px;
		padding: 0;
		margin: 10px 0 0 0;	
	}
	#botao1 {
		margin-left: -40px;
		font-size: 1.2em;
	}
	#botao2 {
		margin-right: -40px;
		font-size: 1.2em;
	}	
}

@media (max-width: 320px) {
	#series aside {
		width: 300px;
		padding: 0;	
		margin: 10px 0 0 0;
	}
}
