/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*       Conteúdo       */
/* -------------------- */

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

#header, #series, #titulo, #lista, #footer {
    width: 100%;
    height: 100%;
}

body, header, section, aside, article, div {
	width: 100%;
	height: 100%;
}
