/*
    Author: Katarine Albuquerque
*/

/* -------------------- */
/*        Título        */
/* -------------------- */

#titulo {
	width: 70%;
	margin: 80px 0 70px 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	padding-left: 14%;
}

#quadrado {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	background-color: #3EC6E0;	
}

@media (max-width: 992px){
	#titulo {
		margin: 40px 0 50px 0;
		padding-left: 10%;
	}	
}

@media (max-width: 576px){
	#titulo {
		margin: 40px 0 50px 0;
		padding-left: 15%;
	}
	#titulo h1 {
		font-size: 1.7em;
	}
}

@media (max-width: 480px){
	#titulo {
		margin: 20px 0 30px 0;
		padding-left: 9%;		
	}
	#titulo h1 {
		font-size: 1.6em;
	}
}

@media (max-width: 380px){
	#titulo {
		width: 80%;
		margin: 20px 0 30px 0;
		padding-left: 11%;		
	}
	#titulo h1 {
		font-size: 1.4em;
	}
}

@media (max-width: 320px){
	#titulo {
		margin: 20px 0 30px 0;
		padding-left: 4%;		
	}
	#titulo h1 {
		font-size: 1.3em;
	}
}

@media (min-width: 1080px){
	#titulo {
		margin: 60px 0 30px 0;
	}
}

@media (min-width: 1200px){
	#titulo {
		margin: 80px 0 50px 0;
	}
}
