.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
}
.gallery .item {
  height: auto;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  text-align: center;    
}
.control-button {  
  display: inline-block;
  font-size: 1.5em;
  margin: 0 .02;
  text-align: center;
  text-decoration: none;
  transition: color .1s;  
  color: #fff; 
  padding-right: 1px;   
}
